.container {
  min-height: 100vh;
}

.title {
  margin: 1em;
  text-align: center;
}

.icon {
  width: 2em;
  margin: 1em;
}

.full-width {
  width: 100%;
}

.form-input {
  margin-bottom: 1em;
}

.right {
  float: right;
}
.data-col {
  text-align: center;
  margin-bottom: 2em;
}

.goto-details {
  color: black;
  text-decoration: none;
}
